<!-- Headline area start -->
<div class="headline-area bgc-primary py-20">
    <div class="headline-wrap style-two color-black">
        <span class="marquee-wrap">
           <span class="marquee-inner left">
                <span class="marquee-item"><b>customer business solution</b><i class="fas fa-bahai"></i></span>
                <span class="marquee-item"><b><span>design</span> - customer centric solution</b><i class="fas fa-bahai"></i></span>
                <span class="marquee-item"><b>web development based company</b><i class="fas fa-bahai"></i></span>
                <span class="marquee-item"><b><span>design</span> - customer centric solution</b><i class="fas fa-bahai"></i></span>
                <span class="marquee-item"><b>marketing based devlopment</b><i class="fas fa-bahai"></i></span>
           </span>
           <span class="marquee-inner left">
                <span class="marquee-item"><b>customer business solution</b><i class="fas fa-bahai"></i></span>
                <span class="marquee-item"><b><span>design</span> - customer centric solution</b><i class="fas fa-bahai"></i></span>
                <span class="marquee-item"><b>web development based company</b><i class="fas fa-bahai"></i></span>
                <span class="marquee-item"><b><span>design</span> - customer centric solution</b><i class="fas fa-bahai"></i></span>
                <span class="marquee-item"><b>marketing based devlopment</b><i class="fas fa-bahai"></i></span>
           </span>
           <span class="marquee-inner left">
                <span class="marquee-item"><b>customer business solution</b><i class="fas fa-bahai"></i></span>
                <span class="marquee-item"><b><span>design</span> - customer centric solution</b><i class="fas fa-bahai"></i></span>
                <span class="marquee-item"><b>web development based company</b><i class="fas fa-bahai"></i></span>
                <span class="marquee-item"><b><span>design</span> - customer centric solution</b><i class="fas fa-bahai"></i></span>
                <span class="marquee-item"><b>marketing based devlopment</b><i class="fas fa-bahai"></i></span>
           </span>
        </span>
     </div>
</div>
<!-- Headline Area end -->