<!-- Testimonials Area start -->
<section class="testimonials-area py-145 rpy-100 rel z-1">
    <div class="container">
        <div class="row gap-140 align-items-center">
            <div class="col-lg-5 wow fadeInRight delay-0-2s">
                <div class="testimonials-image rmb-55">
                    <%= image_tag("testimonials/positive-feedback.jpg", :alt => "Testimonials") %> 
                </div>
            </div>
            <div class="col-lg-7 wow fadeInLeft delay-0-2s">
                <div class="testimonials-content">
                    <div class="section-title mb-35">
                        <span class="sub-title mb-15">know what our client’s says</span>
                        <h2>made the biggest <span>players</span> happy</h2>
                    </div>
                    <div class="testimonials-active">
                        <div class="testimonial-item">
                            <div class="author-speech">
                                <p>creative agency, we believe in the power of imagination and innovation. We are constantly pushing the boundaries of what is possible, and strive to create work that is not only bea utiful and effective,but also meaningful and impactful.</p>
                            </div>
                            <div class="testimonial-footer">
                                <div class="testimonial-author">
                                    <div class="author-image">
                                        <%= image_tag("testimonials/originapps.png", :alt => "Author Image") %> 
                                    </div>
                                    <div class="author-info">
                                        <h6>OriginApps</h6>
                                        <span class="designation">Web Development</span>
                                    </div>
                                </div>
                                <div class="ratting">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="author-speech">
                                <p>their team consist very passionate back end developers. They easily catch up with any serverside technologies</p>
                            </div>
                            <div class="testimonial-footer">
                                <div class="testimonial-author">
                                    <div class="author-image">
                                        <%= image_tag("testimonials/dj_extensions_logo.jpg", :alt => "Author Image") %> 
                                    </div>
                                    <div class="author-info">
                                        <h6>DJ-Extensions</h6>
                                        <span class="designation">Joomla! Develepoment</span>
                                    </div>
                                </div>
                                <div class="ratting">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials Area end -->